@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --color-blue: #2a52a6;
  --color-green: #95c552;
  --color-accent: #0046ff;
  --color-grey: #efefef;
  --text-light: #fff;
  --text-dark: #000000;
  --text-red: #ff0000;
  --bg-blue: #ecf1fb;
  --bg-blue2: #1e5cd8;
  --font-h1-lg: 50px;
  --font-h1-md: 30px;
  --font-h2-lg: 28px;
  --font-h2-md: 18px;
  --font-p-lg: 22px;
  --font-p-md: 16px;
  --font-p-sm: 14px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
strong {
  font-weight: 600;
}
.container {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(90deg, #11305e 0%, #2f67c2 100%);
  color: white;
  padding: 5px 100px;
}
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.left h1 {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: start;
}
.div-left {
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.div-text-list {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.text-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}
.text-list p {
  text-align: start;
}

.fade-section {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.fade-section {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.fade-section.show {
  opacity: 1;
  transform: translateY(0);
}
.mockups-img {
  display: flex;
  position: relative;
  top: -120px;
}
.right {
  background: white;
  border-radius: 16px;
  padding: 20px;
  width: 450px;
  color: black;
  display: flex;
  flex-direction: column;
  max-height: fit-content;
}
label {
  display: block;
  font-weight: bold;
  margin-top: 12px;
  font-size: 13px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
  width: 100%;
  padding: 6px;
  margin-top: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 13px;
}
.checkbox-group {
  margin-top: 10px;
}
.checkbox-group label {
  display: flex;
  align-items: center;
  font-weight: normal;
  margin: 4px 0;
  font-size: 12px;
}
input[type="checkbox"] {
  margin-right: 8px;
}
button {
  background-color: #0052cc;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 100%;
  margin-top: 10px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.1s;
  font-family: "Poppins", sans-serif;
}
button:hover {
  background-color: #003d99;
}

.risk-section {
  display: flex;
  position: relative;
  top: -70px;
  background-color: white;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  justify-content: center;
}
.risk-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 50px 0px 50px;
  gap: 20px;
}
.risk-main-div,
span,
h1,
h2,
p {
  text-align: center;
}
.risk-img {
  display: flex;
  justify-content: center;
}
.risk-main-div span {
  font-size: 20px;
}
.risk-main-div h1 {
  font-size: 40px;
  color: var(--text-red);
  font-weight: 500;
}
.risk-main-div h2 {
  font-size: 30px;
}

.red-text {
  background-color: var(--text-red);
  padding: 15px;
  border-radius: 40px;
  width: 800px;
}
.red-text p {
  color: white;
  font-weight: 700;
  font-size: 20px;
}
.solutions-section-main {
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 130px;
  background-color: white;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  position: relative;
  border-bottom-left-radius: 70px;
  top: 60px;
}
.solutions-section-main h1 {
  color: var(--color-green);
  font-size: 40px;
}

.solutions-cards-div {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-content: center;
}
.solutions-cards-div-2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  justify-content: center;
}
.card {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: #f2f0e9;
  width: fit-content;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}
.card p {
  text-align: start;
}
.btn-green {
  background-color: var(--color-green);
  width: fit-content;
  font-size: 20px;
  padding: 15px;
  font-weight: 600;
  border-radius: 40px;
  display: flex;
  transition: 0.1s;
  border: 2px solid var(--color-green);
  margin-top: 20px;
}
.btn-green:hover {
  background-color: white;
  color: var(--color-green);
  border: 2px solid var(--color-green);
}
.integration-section {
  padding-top: 140px;
  background: linear-gradient(90deg, #11305e 0%, #2f67c2 100%);
}
.integration-section-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 50px 100px;
}
.img-left {
  display: flex;
  position: relative;
  left: -190px;
}
.text-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.text-right h1 {
  color: white;
  text-align: start;
  font-size: 40px;
}
.text-right span {
  color: white;
  text-align: start;
  font-size: 20px;
}
.text-right p {
  color: white;
  text-align: start;
}
.store-buttons {
  margin-top: 30px;
  gap: 20px;
  display: flex;
}
.best-support-section-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 200px;
}
.best-support-text {
  display: flex;
  gap: 20px;
  flex-direction: column;
  font-weight: 600;
}
.best-support-text h1 {
  color: white;
  text-align: start;
  font-size: 40px;
}
.best-support-text span {
  color: white;
  text-align: start;
  font-size: 20px;
}
.best-support-text p {
  color: white;
  text-align: start;
}
.plans-section {
  display: flex;
  flex-direction: column;
  background: white;
  height: 100%;
  position: relative;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  top: -100px;
}
.plans-section-main {
  text-align: center;
  padding: 40px 150px;
}

.plans-title-and-subtitle .h2-subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-align: center;
}

.plans-title-and-subtitle h2 strong {
  font-weight: 700;
}

.plans-title-and-subtitle h1 {
  font-size: 28px;
  font-weight: bold;
  color: #0052cc;
  margin: 10px 0 25px;
}

.button-toggle {
  display: inline-flex;
  background: var(--color-blue);
  border-radius: 40px;
  padding: 5px;
  gap: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.button-toggle button {
  margin-top: 0px;
}

.btn-toggle {
  border: none;
  padding: 10px 25px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  background: transparent; /* inativo = transparente */
  color: white;
  transition: all 0.3s ease;
}

.btn-toggle.active {
  background: #0d1b2a; /* ativo = fundo azul escuro */
  color: #fff;
}

.btn-toggle:not(.active):hover {
  background: rgba(255, 255, 255, 0.2);
}

.plans-wrapper {
  margin-top: 50px;
}

.plans-container {
  display: none; /* escondido por padrão */
  gap: 20px;
  width: 100%;
  padding-bottom: 10px;
  position: relative;
  top: 0;
  left: 0;
}
.plans-container.active {
  display: flex;
}

.plan-card {
  background: #fff;
  border-radius: 25px;
  padding: 20px;
  flex: 1;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.09);
  text-align: start;
  height: fit-content;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}
.plan-card.show {
  opacity: 1;
  transform: translateY(0);
}
.plan-card.featured {
  background: var(--color-blue);
  color: #fff;
}

.plan-card h3 {
  margin-bottom: 10px;
  font-size: 25px;
  text-align: start;
}

.plan-card .price {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: start;
  margin-top: 25px;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
  justify-content: center;
}
.div-li {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.div-li-center {
  display: flex;
  gap: 10px;
}
.btn-primary {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  margin-top: 25px;
}
a {
  text-decoration: none;
  color: white;
}
.contract-section-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-section {
  background-color: #0a2d96;
}
.footer-text {
  padding: 80px 143px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text-div {
  color: var(--text-light);
  gap: 20px;
}
.text-div,
h2 {
  font-size: 17px;
  text-align: start;
}
.text-div,
p {
  font-size: 17px;
  font-weight: 300;
  text-align: start;
}
.social-media-img {
  filter: invert(100%);
}
.checkbox-group {
  display: flex;
  justify-items: center;
  flex-direction: column;
  gap: 1px;
  font-size: 13px;
  border: none;
}
#errorMessageContainer {
  font-size: 12px;
  line-height: 1.2;
}
@media (max-width: 768px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 80px;
  }
  .mockups-img {
    width: 370px;
    height: 100%;
    top: 0px;
    padding: 15px 15px;
    margin-bottom: 30px;
  }
  .left {
    padding: 0px;
  }
  .text-list p {
    font-size: 13px;
  }
  .right {
    padding: 15px;
    width: 100%;
  }
  .risk-section {
    top: -40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .risk-main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    max-width: 100%;
    gap: 10px;
  }
  .risk-main-div,
  span,
  h1,
  h2,
  p {
    text-align: center;
  }
  .risk-img {
    display: flex;
    justify-content: center;
    width: 320px;
    height: 100%;
  }
  .risk-main-div span {
    font-size: 13px;
  }
  .risk-main-div h1 {
    font-size: 23px;
    color: var(--text-red);
    font-weight: 500;
  }
  .risk-main-div h2 {
    font-size: 10px;
  }
  .risk-main-div p {
    font-size: 12px;
  }

  .red-text {
    background-color: var(--text-red);
    padding: 15px;
    border-radius: 40px;
    width: 100%;
  }
  .red-text p {
    color: white;
    font-weight: 700;
    font-size: 12px;
  }

  .solutions-section-main {
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 130px;
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    top: 60px;
    width: 100%;
    padding: 20px;
  }
  .solutions-section-main h1 {
    color: var(--color-green);
    font-size: 20px;
  }

  .solutions-cards-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  .solutions-cards-div-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  .card {
    display: flex;
    gap: 20px;
    padding: 15px;
    background: #f2f0e9;
    width: 240px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
  }
  .card p {
    text-align: start;
    font-size: 10px;
  }
  .icon-card {
    width: 30px;
    height: 30px;
  }
  .btn-green {
    font-size: 13px;
    padding: 10px;
  }

  .integration-section-main {
    gap: 10px;
    padding: 0px;
  }
  .img-left {
    left: -70px;
  }
  .text-right {
    gap: 20px;
    position: relative;
    left: -50px;
  }
  .text-right h1 {
    font-size: 13px;
  }
  .text-right span {
    font-size: 10px;
  }
  .text-right p {
    font-size: 10px;
  }
  .store-buttons {
    margin-top: 20px;
    margin-bottom: 40px;
    gap: 10px;
  }
  .img-mockup-app {
    width: 200px;
    height: 200px;
  }
  .img-support {
    height: 220px;
    width: 100%;
    margin-top: 20px;
  }
  .google-play {
    width: 90px;
    height: 30px;
  }
  .app-playstore {
    width: 90px;
    height: 30px;
  }
  .best-support-section-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .best-support-text {
    gap: 20px;
    max-width: 100%;
  }
  .best-support-text h1 {
    font-size: 13px;
  }
  .best-support-text span {
    font-size: 10px;
  }
  .best-support-text p {
    font-size: 10px;
  }

  .plans-section {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .plans-section-main {
    text-align: center;
    padding: 20px;
  }

  .plans-title-and-subtitle .h2-subtitle {
    font-size: 13px;
  }

  .plans-title-and-subtitle h2 strong {
    font-weight: 700;
  }

  .plans-title-and-subtitle h1 {
    font-size: 17px;
  }

  .button-toggle {
    display: inline-flex;
    background: var(--color-blue);
    border-radius: 40px;
    padding: 5px;
    gap: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }

  .button-toggle button {
    margin-top: 0px;
  }

  .btn-toggle {
    border: none;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 11px;
  }

  .plans-wrapper {
    margin-top: 50px;
  }

  .plans-container {
    display: none; /* escondido por padrão */
    gap: 20px;
    width: 100%;
    padding-bottom: 10px;
    position: relative;
    top: 0;
    left: 0;
  }
  .plans-container.active {
    display: flex;
    flex-direction: column;
  }

  .plan-card {
    background: #fff;
    border-radius: 25px;
    padding: 20px;
    flex: 1;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.09);
    text-align: start;
    height: fit-content;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
  .plan-card.show {
    opacity: 1;
    transform: translateY(0);
  }
  .plan-card.featured {
    background: var(--color-blue);
    color: #fff;
  }

  .plan-card h3 {
    margin-bottom: 10px;
    font-size: 25px;
    text-align: start;
  }

  .plan-card .price {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: start;
    margin-top: 25px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
    justify-content: center;
  }
  .div-li {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  .div-li-center {
    display: flex;
    gap: 10px;
  }
  .btn-primary {
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    border-radius: 30px;
    margin-top: 25px;
  }

  .contract-section-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .footer-section {
    background-color: #0a2d96;
    padding: 10px;
  }
  .footer-text {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
  }
  .text-div {
    color: var(--text-light);
    gap: 20px;
  }
  .text-div,
  h2 {
    font-size: 15px;
    text-align: start;
  }
  .text-div,
  p {
    font-size: 12px;
    font-weight: 300;
    text-align: start;
  }
  .social-media-img {
    filter: invert(100%);
  }
}

@media (min-width: 1920px) {
  .container {
    padding: 50px 250px;
  }
  .footer-section {
    padding: 50px 250px;
  }
}
